/* Reset */

body, h1, h2, h3, p, ul{
    padding: 0px;
    margin: 0px;
}

body {
	font-family: Georgia, serif;
	color: #252525;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.clear:after, .clear:before{
    content:"";
    display: table;
    clear:both;
}

/*
1. Navbar
2. Section Chamada
3. Section Valores
4. Section Tipos
5. Section Lugares
6. Section Newsletter
7. Footer
*/

/* 1. Navbar */
nav{
    background-color: #252525;
    padding: 20px 0;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.125em;
}
nav ul{
    float:right;
}
nav ul li{
    display: inline-block;
    margin: 10px 10px;
}
nav ul li::after{
    content: "";
    background-color: white;
    width:0;
    height:5px;
    display: block;
    transition:0.3s;
}
nav ul li:hover::after{
    width: 100%;
}

@media(max-width: 739px){
    nav .container{
        text-align: center;
    }
    nav ul{
        float:none;
    }
}

/* 2.Section Chamada */

#chamada{
    background: url("../img/bg-intro.jpg") no-repeat center center;
    background-size: cover;
    padding: 130px 0;
}
#chamada h1, #chamada h5{
    color:#fff;
    text-align:center;
}
#chamada h1::after{
    content:"";
    background: #fff;
    width:20px;
    height:4px;
    display: block;
    margin: 10px auto;
}
#chamada h1{
    font-size:3em;
    text-transform: uppercase;
}
#chamada h5{
    font-size: 1.125em;
    font-style: italic;
}

@media(max-width:739px){
    #chamada{
        padding: 60px 0;
    }
}

/* 3. Section Valores */

#valores{
    padding:60px 0;
}
#valores h2{
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 60px;
}
#valores p{
    font-size:1.125em;
    font-style: italic;
    max-width: 460px;
    text-align: center;
    margin: 0 auto;
}
#valores .valor{
    float:left;
    margin: 0 10px;
    width: 460px;
}
#valores img{
    display: block;
    max-width: 100%;
}
#valores .valor h3{
    width:220px;
    font-size:2.25em;
    background-color: #252525;
    color:#fff;
    padding: 5px 0 10px 0;
    text-align: center;
    text-transform: lowercase;
    font-style: italic;
    font-weight: normal;
    position: relative;
    top: -25px;
}

@media(max-width:980px){
    #valores .container{
        max-width: 720px;
    }
    #valores .valor{
        width: 340px;
    }
    @media(max-width:740px){
        #valores .container{
            max-width: 300px;
        }
        #valores .valor{
            width:300px;
            margin: 0 auto;
        }
    }
}

/* 4. Section Tipos */

#tipos-cafe{
    background-color: #e7e4d8;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
    padding: 60px 0;
}
#tipos-cafe .tipo-item{
    width:300px;
    float:left;
    margin: 0 10px 20px 10px;
}
#tipos-cafe .tipo-item p{
    font-size:0.875em;
    line-height: 1.4em;
}
#tipos-cafe .tipo-item h2{
    font-size:2.25em;
    text-align: center;
    margin-bottom: 20px;
}
#tipos-cafe .tipo-item h2::before{
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    background-color: red;
    border-radius:50%;
    border:5px solid #e7e4d8;
    box-shadow: 0 0 0 5px red;
    margin: 20px auto;
}
#tipos-cafe .tipo-item #paulista::before{
    background-color: #492901;
    box-shadow: 0 0 0 5px #492901;
}
#tipos-cafe .tipo-item #carioca::before{
    background-color: #c17139;
    box-shadow: 0 0 0 5px #c17139;
}
#tipos-cafe .tipo-item #mineiro::before{
    background-color: #d7a54d;
    box-shadow: 0 0 0 5px #d7a54d;
}
#tipos-cafe a{
    margin: 20px auto 0 auto;
    width:180px;
    background-color: #e7e4d8;
    display: block;
    color:#252525;
    font-size: 1.125em;
    padding:15px 0;
    border:3px solid #252525;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}
#tipos-cafe a:hover{
    background-color: #252525;
    color:white;
}

@media(max-width:980px){
    #tipos-cafe .container{
        max-width:720px;
    }
    #tipos-cafe .tipo-item{
        width: 220px;
    }
    @media(max-width: 740px){
        #tipos-cafe .container{
            max-width: 300px;
        }
        #tipos-cafe .tipo-item{
            width:300px;
            margin: 0 auto 20px auto;
        }
    }
}

/* 5. Section Lugares */

#lugares .container{
    padding:20px 0;
}
.lugar{
    margin:60px auto;
}
.lugar img{
    display: block;
    width:460px;
    float:left;
    margin: 0 10px;
}
.lugar div{
    width:460px;
    float: right;
    margin: 0 10px;
}
.lugar div h2{
    font-size:2.25em;
    margin-bottom:20px;
}
.lugar div p{
    font-size:1.125em;
    line-height:1.4em;
    max-width: 320px;
    margin-bottom: 40px;
}
.lugar div a{
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    color:#252525;
    border: 3px solid #252525;
    padding:10px 20px;
    transition:0.3s;
}
.lugar div a:hover{
    background-color: #000;
    color:#fff;
    transition:0.3s;
}

@media(max-width:980px){
    #lugares .container{
        max-width:720px;
    }
    .lugar div, .lugar img{
        width:340px;
    }
    @media(max-width:740px){
        #lugares .container{
            max-width:300px;
        }
        .lugar div, .lugar img{
            width:300px;
            margin:0;
        }
    }
}

/* 6. Section Newsletter */

#news{
    background-color: #e7e4d8;
    padding:30px 0;
}
#news #assinatura{
    width:460px;
    margin:0 10px;
    float:left;
}
#news h2{
    font-size:2.25em;
    text-transform: capitalize;
}
#news p{
    font-size:1.5em;
    font-style: italic;
}
#news form{
    width:460px;
    margin: 10px 10px 0 10px;
    float:left;
}
#news form label{
    display:none;
}
#news input{
    width: 320px;
    border:3px solid #252525;
    font-family: Georgia, serif;
    background: none;
    font-size:1.5em;
    font-style:italic;
    padding:10px;
    float:left;
}
#news button{
    background: #252525;
    border: none;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 114px;
    padding: 13px 0;
    color: #fff;
    cursor: pointer;
}

@media(max-width:980px){
    #news .container{
        max-width: 720px;
    }
    #news #assinatura, #news form, #news input{
        width:340px;
    }
    @media(max-width: 740px){
        #news .container{
            max-width:300px;
        }
        #news #assinatura, #news form, #news input{
            width:300px;
            margin: 10px 0 0 0;
        }
    }
}

/* 7. Footer */

#rodape{
    background: #d6d3c8;
    padding:40px 0;
}
#rodape p{
    float: left;
    margin: 0 10px;
    font-size: 1.125em;
    line-height: 1.4em;
}
#rodape img{
    float:right;
    margin: 0 10px;
    display: block;
}

@media(max-width:739px){
    #rodape .container{
        max-width: 300px;
    }
    #rodape p{
        float:none;
        margin: 0;
    }
    #rodape img{
        float:none;
        margin: 20px 0;
    }
}